html {
    font-family: 'Roboto', sans-serif;
    overflow-y: scroll;
    --gutter: 6rem;
    --spacer: 3rem;
}

/* Basic Elements */

body {
    margin: 0;
    color: var(--strong);
}

a {
    color: inherit;
    text-decoration: none;
}

h1, h2 {
    clear: both;
}

h1, h2, h3 {
    overflow-wrap: break-word;
    font-family: 'M PLUS 1p', sans-serif;
}

h1 {
    font-size: 2em;
    display: inline-block;
    padding: 0.5em 1em;
    background-color: white; opacity:0.85;
    border-radius: 2em;
    line-height: 1em;
}

h2:first-child, h3:first-child {
    margin-top: 0;
}

h2 {
    font-weight: 200;
    font-size: 3em;
    color: var(--primary);
}

h3 {
    font-size: 1.2em;
    color: var(--secondary);
}

blockquote {
    font-style: italic;
    position: relative;
}

blockquote::before {
    content: "“";
    position: absolute;
    left: -0.3em;
    z-index: -2;
    opacity: 0.2;
    font-size: 16em;
    color: var(--primary);
    line-height: 1em;
    top: -0.2em;
    font-family: "Trebuchet MS", serif;
}

blockquote::after {
    content: "”";
    position: absolute;
    right: -0.15em;
    bottom: 0;
    z-index: -2;
    opacity: 0.2;
    font-size: 16em;
    color: var(--primary);
    line-height: 0;
    font-family: "Trebuchet MS", serif;
}

p {
    line-height: 2em;
}

p, input, textarea, cite {
    margin: 2em 0;
}

p:first-child, cite:first-child, li:first-child, figure:first-child {
    margin-top: 0;
}

p:last-child, cite:last-child, li:last-child, figure:last-child {
    margin-bottom: 0;
}


p a, li a, cite a {
    color: var(--highlight);
}

cite {
    display: block;
}

input, select, textarea {
    border-radius: 2em;
    border: solid 0.1em var(--tertiary);
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 1em;
    color: var(--strong);
    outline: none;
}

input, select {
    padding: 0.5em 1.5em;
}

input[type=button], input[type=submit] {
    color: white;
    background-color: var(--highlight);
    min-width: 6em;
    border: none;
    float: right;
    cursor: pointer;
    margin-bottom: 0;
}

textarea {
    width: 100%;
    padding: 1em;
    resize: none;
    box-sizing: border-box;
}

figure  {
    position: relative;
}

figure img  {
    margin: 0;
    display: block;
    height: auto;
}

figure figcaption {
    position: absolute;
    bottom: 0;
    color: white;
    font-size: 2em;
    background-color: rgba(0,0,0,.5);
    padding: 0.3em 0.6em;
    margin: 0 !important;
    max-height: 80%;
    pointer-events: none;
}

hr {
    display: block;
    border: none;
    height: 0.4em;
    margin: var(--spacer) var(--gutter) 0 var(--gutter);
    background: linear-gradient(to right, var(--highlight), rgba(0,0,0,0));
}

iframe {
    width: 100%;
}

/* General Styles */

.menu {
    padding: 0;
    white-space : nowrap;
    display : inline-block;
    font-family: 'M PLUS 1p', sans-serif;
}

.menu li {
    padding: 0;
    display : inline;
}

.content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: fit-content;
    counter-reset: section;
}

.content > * {
    padding: 0 var(--gutter);
    margin: var(--spacer) 0 0 0;
}

.content > .wp-block-columns, .content > .wp-block-media-text {
    margin: 0;
}

.content > *:nth-last-child(4){
    margin-bottom: var(--spacer);
}


.content > .wp-block-columns > *, .content > .wp-block-media-text > *, .content > .wp-block-media-text > figure {
    margin: var(--spacer) 0 0 0;
}

.content > * > li {
    margin: 0 0 0.5em 2em;
}

.content > blockquote {
    margin: var(--spacer) var(--gutter) 0 var(--gutter);
}

.content > blockquote::before {
    top: -0.1em;
    left: 0.1em;
}

.content > blockquote::after {
    right: 0.2em;
}


.inverted {
    font-size: 1.6em;
    padding: var(--spacer) var(--gutter);
    background: linear-gradient(141deg,var(--secondary),var(--primary));
    color: white;
}

.aside {
    width:50%;
    background: var(--tertiary);
    border-radius: 1em;
    float: right;
    padding: 2em;
    margin: 0 0 2em 2em;
    font-size: 0.8em;
    box-sizing: border-box;
}

.textwidget:first-child {
    margin-top: 0;
}



/* Header */

.header {
    background: white;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0,0,0, 0.5) 0 2px 5px;
    z-index: 1;
    line-height: 2em;
    padding: 0 var(--gutter);
    margin: 0;
}

.header a, .footer a {
    color: inherit;
}

.pinned {
    position: -webkit-sticky; /* Safari */
    position: sticky;
}

.navbar {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
}

.logo-bound {
    height: 10em;
    min-width: 15em;
    margin: 1em 0;
    position:relative;
    z-index: 2;

}

.custom-logo {
    position:absolute;
    height: 100%;
    width: auto;
    max-width: 100%;
    bottom: 0;
    min-height: 4em;
}

.top-links {
    position: absolute;
    top: 1em;
    right: 0;
    color: var(--secondary);
}

.top-links li {
    font-size: 2em;
    margin-left: 0.4em;
}

.wide-menu {
    flex-basis: auto;
    flex-grow: 1;
}

.wide-menu .icon {
    float: right;
    margin: 1em 0;
    display: none;
    font-size: 2em;
}

.wide-menu .navigation-menu ul {
    display: flex;
    float: right;
    margin: 2em 0;
}

.mobile-menu, .mobile-menu .navigation-menu {
     display: none;
}

.mobile-menu ul {
    margin-top: 0;
    width: 100%;
}

.mobile-menu .menu-item {
    display: block;
    margin-left: 0;
    border-bottom: 1px var(--secondary) solid;
}

.mobile-menu .menu-item:last-child {
    border-bottom: none;
}

.graphic {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: var(--spacer) var(--gutter);
    margin: 0;
}

.navigation-menu{
    font-weight: bolder;
}

.wide-menu .menu-item {
    margin-left: 1em;
}

.navigation-menu li a:hover {
    color: var(--primary);
}

.wide-menu .navigation-menu li.action a {
    background-color: var(--highlight);
    color: white;
    padding: 0.5em 1.5em;
    border-radius: 2em;
}

.wide-menu .navigation-menu li.action a:hover {
    color: white;
    background-color: var(--strong);
}

#overlay {
    padding: 2em;
    border-radius: 2em;
    max-width: 30em;
    overflow: hidden;
}

.excerpt {
    font-size: 4em;
    font-weight: 100;
    line-height: 1.2em;
    margin: 0.8em 0;
    position: relative;
}

.excerpt::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -1em;
    right: 2em;
    width: 4em;
    height: 4em;
    z-index: -2;
    opacity: 0.2;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Page Body */

.landing {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: var(--gutter);
    box-sizing: border-box;
}

.landing div:first-child {
    flex: 1;
}

.landing div {
    flex: 2;
    margin: 1em 2em;
}

.iconified-paragraphs .wp-block-media-text  {
    display: flex;
    margin-bottom: 1.8em;
}

.iconified-paragraphs .wp-block-media-text .wp-block-media-text__media  {
    flex: 0 0 3em;
    margin: 0 2em 0 1em;
}

.iconified-paragraphs .wp-block-media-text .wp-block-media-text__content {
    padding: 0
}

.iconified-paragraphs p {
    margin: 0
}

.warning {
    color: var(--highlight);
    font-style: italic;
}

/** News */

.news {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.feed {
    flex: 20 0 20em;
    min-width: 26em;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.sidebar {
    flex: 1 0 12em;
    margin: 0 1em;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow: hidden;
}

.sidebar-group {
    flex: 1 0 12em;
    width: 50%;
    margin-bottom: var(--spacer);
}

.article {
    padding: 2.5em 2em 2em 2em;
    background: white;
    border-radius: 1em 1em 1em 0;
    box-shadow: rgba(0,0,0, 0.5) 0 2px 5px;
    overflow: hidden;
    position: relative;
    margin: 0 1em var(--spacer) 1em ;
}

.article textarea, .article .comment-notes {
    margin: 1em 0;
}

.article input {
    margin: 0;
}

.article input[type=checkbox] {
    margin-right: 1em;
}

.article .form-submit {
    margin: 0;
}

.article .comment-form label:first-child {
    display: inline-block;
    min-width: 6em;
}

.article p, .article li {
    line-height: 1.6em;
}

.article figure.alignleft {
    margin-right: 3em;
}

.article figure.alignright {
    margin-left: 2em;
}

.article:after {
    background: linear-gradient(to right, var(--highlight), rgba(0,0,0,0));
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0.5em;
    content: " ";
}

.article p:first-child {
    margin-top: 0;
}

.article-actions {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row-reverse;
    margin-top: 1em;
}

.article-actions h3 {
    display: inline-block;
    margin: 0
}

.article-reply  {
    margin-top: 1em;
}

.article-author img {
    vertical-align: bottom;
    margin-left: 1em;
}

.article-link {
    color: var(--primary);
    overflow-wrap: break-word;
    margin-bottom: 1em;
}

.article-date {
    display: block;
    color: var(--strong);
}

.external-article-links li {
    display: block;
    margin-bottom: 1em;
    white-space: normal;
}

.article-card {
    min-width: 20em;
    max-width: 30em;
    margin: 0 1em var(--spacer) 1em;
    flex-grow: 1;
    flex-basis: 30%;

}

.article-card figure {
    margin: 0;
    height: 20em;
    overflow: hidden;
    border-radius: 1em 1em 1em 0;
    display: block !important;
    transition: height, width, 0.3s ease-in-out;
}

.article-card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.article-card-metadata {
    display: inline-block;
    margin-top: 1em;
}

.article-card figure:hover {
    transform: scale(1.02, 1.02);
}

/* Sections */

.segments {
    padding: 0;
    margin: 0 !important;
}

.segments > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

.segments > div > * {
    width: 50%;
    height: auto;
    margin: 0;
    box-sizing: border-box;
    padding: var(--spacer) var(--gutter);
    position: relative;
    display: table-cell;
}

.segments > div > figure {
    padding: 0;
}

.segments.counted > div > *:nth-child(4n):before {
    counter-increment: section;
    content: counter(section);
    position: absolute;
    top: -0.8em;
    left: -0.8em;
    width: 1.6em;
    height: 1.6em;
    line-height: 1.6em;
    border-radius: 0.8em;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    background: var(--secondary);
    font-size: 4em;
    font-weight: 200;
    color: white;
}

.segments > div > figure > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.segments > div > figure > figcaption {
    font-size: 0.6em;
}

/* Footer */

.link-cards  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: linear-gradient(141deg,var(--primary),var(--highlight));
    padding: 1em var(--gutter);
    margin: auto 0 0 0;
}

.link-cards > .article-card {
    margin: 1em;
}

.footer {
    padding: 1em var(--gutter);
    margin: 0;
    background-color: var(--strong);
    color: white;
}

.footer-links {
    display: flex;
}

.footer-left-links {
    flex: 1;
}

.footer-right-links li {
    font-size: 2em;
    margin-left: 0.4em;
}

.footer-left-links li:after {
    content: " | ";
}

.footer-left-links li:last-child:after {
    content: "";
}

/* Responsive */

@media screen and (max-width: 650px) {

    html {
        --gutter: 1.5rem;
        --spacer: 1.5rem;
    }

    h2 {
        font-size: 2em;
    }
    
    .wide-menu .navigation-menu {
        display: none;
    }

    .wide-menu .icon {
        display: inline-block;
    }

    .mobile-menu {
        display: block;
    }

    .landing {
        flex-direction: column;
    }

    .excerpt {
        font-size: 2em;
    }

    .inverted {
        padding: 2em;
    }

    .aside {
        width: 100%;
        padding: 1em;
    }

    .content {
        min-width: unset;
    }

    .content > blockquote::before {
        left: -0.1em;
    }

    .content > blockquote::after {
        right: 0.1em;
    }

    figure figcaption, .inverted {
        font-size: 1.2em;
    }

    .wp-block-image figure, .wp-block-column figure {
        float: none !important;
        margin: 0 auto 2em auto;
    }

    .article-card {
        max-width: unset;
    }

    .article-card figure {
        height: 10em;
    }

    .segments > div > *:nth-child(4n):before {
        font-size: 3em;
    }


}

@media screen and (min-width: 1600px) {

    html {
        --gutter: 12rem;
        --spacer: 6rem;
    }

    body {
        font-size: 18pt;
    }
}